{% extends 'layout.twig' %}

{% block title %}{{ parent() }} | Customer List{% endblock %}

 {% block body %}

 <table id="pink">
     <td>
         <h2 class="ui header">Customer List</h2>
         <a href="{{ path_for('new', {id:id}) }}">Create New Customer</a>
         <form action="{{ path_for('searchC') }}" method="POST">
             {{ csrf() }}
             <input type="text" name="search" placeholder="Search.."><input type="submit" name="" value="Submit">
         </form>
         <br><br>
         <table align="left" bgcolor="white">
             <tr>
                 <th>No.</th>
                 <th>Name</th>
                 <th>Phone No.</th>
                 <th colspan="3"></th>
             </tr>
             <tr>
                 {% for customer in customers %}
                 <td>{{ loop.index }}</td>
                 <td>{{ customer.name }}</td>
                 <td>{{ customer.phoneNo }}</td>
                 <td><a href="{{ path_for('view', {id: customer.user_id}) }}">View</a></td>
                 <td><a href="{{ path_for('edit', {id: customer.user_id}) }}">Edit</a></td>
                 <td>
                 <form action="{{ path_for('delete',{id: customer.user_id}) }}" method="POST">
                     <input type="hidden" name="_METHOD" value="DELETE"/>
                     <input type="submit" value="Delete"/>
                     {{ csrf() }}
                 </form>
                </td>
             </tr>
             {% else %}
                 <td colspan="4">There are no customer here :(</td>
             {% endfor %}
         </table>
     </td>
 </table>

{% endblock %}