{% extends 'layout.twig' %}

{% block title %}{{ parent() }} | Dashboard{% endblock %}

{% block body %}
    <div class="ui raised very padded text container segment">
        <h2 class="ui header">Dashboard</h2>
            {#<a href="{{ path_for('repairWithCustomer',{user_id:}) }}">New Product Repair</a><br>#}
            <a href="{{ path_for('register') }}">Register New Customer</a><br>
            <a href="{{ path_for('product') }}">Product Repair Status</a><br>
            <a href="{{ path_for('customer') }}">Customer List</a><br>
        <a href="{{ path_for('staff') }}">Staff List</a><br>
            <a href="{{ path_for('part') }}">Part List</a>
    </div>

{% endblock %}
