{% extends 'layout.twig' %}

{% block title %}{{ parent() }} | Edit Customer{% endblock %}

{% block body %}

<table id="pink">
    <td>

        <form action="{{ path_for('edit',{id:customer.user_id}) }}" method="POST">
            <table bgcolor="white">
                   <h2 class="ui header">Edit Customer</h2>
                <tr>
                    <th colspan="2"></th>
                </tr>
                <tr>
                    <td>Name</td>
                    <td><input type="text" name="name" id="" placeholder="" value="{{ customer.name }}"></td>
                </tr>
                <tr>
                    <td>IC</td>
                    <td><input type="text" name="icNo" id="" placeholder="" value="{{ customer.icNo }}"></td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td><input type="text" name="address" id="" placeholder="" value="{{ customer.address }}"></td>
                </tr>
                <tr>
                    <td>Phone Number</td>
                    <td><input type="text" name="phoneNo" id="" placeholder="" value="{{ customer.phoneNo }}"></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="text" name="email" id="" placeholder="" value="{{ user.email }}"></td>
                </tr>
                    <input type="hidden" name="user_id" id="" placeholder="" value="{{  customer.user_id }}">
                <tr>
                    {{ csrf() }}

                    <input type="hidden" name="_METHOD" value="PUT"/>
                    <td colspan="2"><input type="submit" name="" value="Save">
                </tr>
                </tr>
            </table>
            {% if has_errors() %}
                <div class="ui error message">
                    {% for paramErrors in errors() %}
                        {% for error in paramErrors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
        </form>
    </td>
</table>
</div>
{% endblock %}