{% extends 'layout.twig' %}
{% block body %}

<table id="pink">
<td><h2>Status Update</h2>
    <form action="{{ path_for('update',{ id: technician.id}) }}" method="POST" >
        <table border="0" bgcolor="white">
            <tr>
                <th colspan="2"></th>
            </tr>
            <tr>
                <td>Brand</td>
                <td><input type="text" name="brand" id="" value="{{ technician.brand }}"></td>
            </tr>
            <tr>
                <td>Model</td>
                <td><input type="text" name="model" id="" value="{{ technician.model }}"></td>
            </tr>
            <tr>
                <td>Date send</td>
                <td><input type="text" name="created_date" id="" value="{{ technician.created_at| date("d/m/Y") }}"></td>
            </tr>
                <tr>
                    <td>Date finished</td>
                    <td><input type="text" name="finished_date" id="" value="{{ "now"|date("m/d/Y") }}" ></td>
                </tr>
                <tr>
            <tr>
                <td>Technician</td>
                <td>{{ technician.name }}</td>
            </tr>
            <tr>
                <td>Status</td>
                <td><select name="status" >
                        <option value="1" >Ready</option>
                        <option value="0" >Not Ready</option>
                    </select></td>
            </tr>
            <tr>
                <input type="hidden" name="staff" value={{ technician.staff_id }}>
                {{ csrf() }}
                <input type="hidden" name="_METHOD" value="PUT"/>
                <td colspan="2"><input type="submit" name="" value="Update"></td>
            </tr>
            </tr>
        </table>
    </form>
</td>
</table>
{% endblock %}