{% extends 'layout.twig' %}
{% block title %}{{ parent() }} | Staff{% endblock %}
{% block body %}
    <table id="pink">
        <td>
            <h2 class="ui header">Staff List</h2>
            <table align="left" bgcolor="white">
                <tr>
                    <th>No.</th>
                    <th>Name</th>
                    <th>Phone No.</th>
                    <th>Adress</th>
                    <th>Job</th>

                </tr>
                <tr>
                    {% for staff in staffs %}
                    <td>{{ loop.index }}</td>
                    <td>{{ staff.name }}</td>
                    <td>{{ staff.phoneNo }}</td>
                    <td>{{ staff.address }}</td>
                    <td>{{ staff.desc }}</td>
                </tr>
                {% else %}
                    <td>There are no staff here :(</td>
                {% endfor %}
            </table>
        </td>
    </table>
{% endblock %}